<div class="d-flex flex-column justify-content-center align-items-center h-100 p-4" >

    <div class="container bg-dark p-3 pt-4 pb-4 rounded w-100 shadow row">
        <div class="col border border-2 rounded p-2">
            <h2 class="text-white">Contacto</h2>
            <div class="row">
                <div class="col-sm form-floating mb-3">
                    <input type="text" class="form-control" id="floatingNombre" placeholder="Nombre">
                    <label for="floatingNombre">Name</label>
                </div>
                <div class="col-sm form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="form-floating">
                <textarea style="height: 200px;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" ></textarea>
                <label for="floatingTextarea">Send me a Message</label>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary w-25">Enviar</button>
            </div>
        </div>
        <div class="col-lg d-flex justify-content-center align-items-center">
            <img class="rounded w-100 h-100" src="../../../assets/contact.jpg" alt="">
        </div>
    </div>

</div>
