<div class="pb-4">

    <section class="container width-800 mt-4 bg-white p-4 rounded">
        <section>
          <h1 class="text-center mb-4">{{article.article.sections[0].title}}</h1>
          <div class="d-flex justify-content-center v-50 mb-4 mt-4"><img [src]="article.article.image" alt="logo" style="max-width: 50%;"></div>
          <p class="lead">{{article.article.sections[0].content}}</p>
        </section>
        <section>
          <h2 class="text-center mt-4 mt-4mb-4">{{article.article.sections[1].title}}</h2>
          <div [innerHTML]="article.article.sections[1].content">
          </div>
        </section>
        <section>
            <h2 class="text-center mt-4 mt-4mb-4">{{article.article.sections[2].title}}</h2>
            <div [innerHTML]="article.article.sections[2].content">
            </div>
          </section>
        <section>
          <h2 class="text-center mt-4 mb-4">{{article.article.sections[3].title}}</h2>
          <p>{{article.article.sections[3].content}}</p>
        </section>
      </section>
</div>
