.hero{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    max-height: 500px;

}

@media (max-width: 768px) {
    .border-radius{
        width: 100%;
    }
}


.fit-content{
    width: fit-content;
    padding: 10px;
}


